In [ ]:
# Group Proposal

In [ ]:
By: Tracy Gan, Zhuoran Wang, Bruce Xie, Raunaq Sodhi

## Heart Disease
Today we will explore the heart disease dataset. (Explain what we are trying to do with the dataset, which variables we want to have in table and what we are trying to predict with which predictors)

The columns in this dataset are:
1. Age - in years
2. Sex - (1 = male; 0 = female)
3. Chest Pain Type - (1 = typical angina)
                     (2 = atypical angina)
                     (3 = non-anginal pain)
                     (4 = asymptomatic)
4. Resting Blood Pressure - in mm Hg
5. Cholesterol - in mg/dl
6. Fasting Blood Sugar - (> 120 mg/dl)
                       - (1 = true; 0 = false)
7. Resting ECG
8. Maximum heart rate
9. Exercised induced angina - (1 = yes; 0 = no)
10. (dont think it is relevant) ; don't understand
11. Slope of peak exercise ST segment
12. Number of major vessels 
13. same as 10.
14. Angiographic disease status - (0 : < 50% diameter narrowing)
                                - (1 : > 50% diameter narrowing)

In [25]:
# Run this cell before continuing.
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)

In [37]:
heart_cleveland_data <- read_csv("data/processed.cleveland (1).data", col_names = FALSE)
heart_cleveland_data
# clean into tidy data
# split data into training and testing (70:30)?
# plot a graph of our training data



heart_switzerland_data <- read_csv("data/processed.switzerland.data", col_names = FALSE)
heart_switzerland_data 

heart_hungarian_data <- read_csv("data/processed.hungarian (1).data", col_names = FALSE)
heart_hungarian_data

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    X1 X2 X3 X4  X5  X6 X7 X8  X9 X10 X11 X12 X13 X14
1   63 1  1  145 233 1  2  150 0  2.3 3   0.0 6.0 0
2   67 1  4  160 286 0  2  108 1  1.5 2   3.0 3.0 2
3   67 1  4  120 229 0  2  129 1  2.6 2   2.0 7.0 1
⋮   ⋮  ⋮  ⋮  ⋮   ⋮   ⋮  ⋮  ⋮   ⋮  ⋮   ⋮   ⋮   ⋮   ⋮
301 57 1  4  130 131 0  0  115 1  1.2 2   1.0 7.0 3
302 57 0  2  130 236 0  2  174 0  0.0 2   1.0 3.0 1
303 38 1  3  138 175 0  0  173 0  0.0 1   ?   3.0 0

Rows: 123 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): X4, X6, X7, X8, X9, X10, X11, X12, X13
dbl (5): X1, X2, X3, X5, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    X1 X2 X3 X4  X5 X6 X7 X8  X9 X10 X11 X12 X13 X14
1   32 1  1  95  0  ?  0  127 0  .7  1   ?   ?   1
2   34 1  4  115 0  ?  ?  154 0  .2  1   ?   ?   1
3   35 1  4  ?   0  ?  0  130 1  ?   ?   ?   7   3
⋮   ⋮  ⋮  ⋮  ⋮   ⋮  ⋮  ⋮  ⋮   ⋮  ⋮   ⋮   ⋮   ⋮   ⋮
121 72 1  3  160 0  ?  2  114 0  1.6 2   2   ?   0
122 73 0  3  160 0  0  1  121 0  0   1   ?   3   1
123 74 1  2  145 0  ?  1  123 0  1.3 1   ?   ?   1

Rows: 294 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): X4, X5, X6, X7, X8, X9, X11, X12, X13
dbl (5): X1, X2, X3, X10, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    X1 X2 X3 X4  X5  X6 X7 X8  X9 X10 X11 X12 X13 X14
1   28 1  2  130 132 0  2  185 0  0   ?   ?   ?   0
2   29 1  2  120 243 0  0  160 0  0   ?   ?   ?   0
3   29 1  2  140 ?   0  0  170 0  0   ?   ?   ?   0
⋮   ⋮  ⋮  ⋮  ⋮   ⋮   ⋮  ⋮  ⋮   ⋮  ⋮   ⋮   ⋮   ⋮   ⋮
292 56 1  4  155 342 1  0  150 1  3   2   ?   ?   1
293 58 0  2  180 393 0  0  110 1  1   2   ?   7   1
294 65 1  4  130 275 0  1  115 1  1   2   ?   ?   1

In [ ]:
# commentary about what our table or plot means (markdown cells)

In [ ]:
Method

In [ ]:
# Expected outcomes and significance

In [ ]:
# cite our sources